@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96369418');
  src: url('../font/fontello.eot?96369418#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?96369418') format('woff2'),
       url('../font/fontello.woff?96369418') format('woff'),
       url('../font/fontello.ttf?96369418') format('truetype'),
       url('../font/fontello.svg?96369418#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-menu-1:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */