* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: #BFCEFF;
}

.form-register{
  width: 95%;
  max-width: 487px;
  margin: auto;
  background: white;
  border-radius: 7px;
}

.btn-enviar{
  background: #1C4CFF;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  width: 240px;
}

.btn-enviar:hover{
  background-color: #5A96FF;
  color: #000000;
}

.btn-enviar:active{
  transform: scale(1.05);
}
