* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  background: #BFCEFF;
}

.form-register{
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
}

.form_titulo{
  background: deepskyblue;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid crimson;
}

.contenedor-inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
}

input{
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgray;
}

.input-100{
  width: 96%;
}

.btn-enviar{
  background: #1C4CFF;
  color: #fff;
  margin: auto;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  width: 205px;
}

.btn-enviar:hover{
  background-color: #5A96FF;
  color: #000000;
}
